<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRYWyN0P1Akg1qjXMI5QAmHjUndF_yJ2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>361218571318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drab.Flowt.demo</string>
	<key>PROJECT_ID</key>
	<string>flowt-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>flowt-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361218571318:ios:559ad8bed010a999cc2c97</string>
</dict>
</plist>